.main_font {
    font-family: 'Roboto', sans-serif;
}

.hero-background {
    background-color: #636167;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23009683' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}


.headline .title {
    font-family: 'Exo 2', sans-serif;
}

.logo-primary {
    fill: #81e6d9;
}

.logo-secondary {
    fill: #38B2AC;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    color: #81e6d9;
    text-shadow: 1px 1px 2px #22543D;
}

p.title {
    font-family: 'Exo 2', sans-serif;
    color: #81e6d9;
    text-shadow: 1px 1px 2px #22543D;
}