{% extends 'base.html' %}

{% block content %}

    <div class="h-2 bg-teal-300"></div>
    <div class="hero hero-background">
        <div class="container py-20 mx-auto">
            <div class="flex flex-row justify-center">
                <div class="logo">
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-20 h-20 mr-4 icon-layers">
                            <path class="logo-primary"
                                  d="M2.6 6.09l9-4a1 1 0 0 1 .8 0l9 4a1 1 0 0 1 0 1.82l-9 4a1 1 0 0 1-.8 0l-9-4a1 1 0 0 1 0-1.82z"></path>
                            <path class="logo-secondary"
                                  d="M3.91 10.5l7.68 3.41a1 1 0 0 0 .82 0l7.68-3.41 1.32.59a1 1 0 0 1 0 1.82l-9 4a1 1 0 0 1-.82 0l-9-4a1 1 0 0 1 0-1.82l1.32-.59zm0 5l7.68 3.41a1 1 0 0 0 .82 0l7.68-3.41 1.32.59a1 1 0 0 1 0 1.82l-9 4a1 1 0 0 1-.82 0l-9-4a1 1 0 0 1 0-1.82l1.32-.59z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="headline flex flex-col items-center text-center">
                <h1 class="title text-6xl text-white font-bold">Variable Change</h1>
                <div class="h-1 w-20 bg-teal-300 my-2"></div>
                <div class="flex py-4">
                    <a href="https://gitlab.com/blbraner/variablechange"
                       class="py-4 px-8 mx-3 border-white border-2 rounded font-bold text-teal-300 hover:bg-white"
                       target="_blank">
                        Code Repo
                    </a>
                    <a href="https://documenter.getpostman.com/view/91633/SW131xtA?version=latest"
                       class="py-4 px-8 mx-3 border-white border-2 rounded font-bold text-teal-300 hover:bg-white"
                       target="_blank">
                        API Documentation
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto py-20 flex flex-col items-center">

        <h1 class="text-4xl">Feature Flags What Are They</h1>
        <p class="w-1/2 leading-relaxed py-10 text-gray-700">
            Even if you have never heard them called by name you have almost certainly used one before.
            You wrap something in a conditional that checks a boolean value, display content or even better turn
            functionality on or off based on that value. Feature flags allow you to control if functionality is "turned
            on or off" if your application. The real value add to feature flags is it allows you to release code that is
            not finished or depends on something else to be done before it is deployed. Everyone uses them,
            but often times they are a hacked implementation and can easily get out of hand. How are implementations
            hacked together? Usually you will find it done one of several ways.
        </p>

        <p class="w-1/2 title text-2xl leading-relaxed">
            Untrackable Conditionals
        </p>
        <p class="w-1/2 leading-relaxed py-10 text-gray-700">
            Feature flags often times start off as untrackable conditionals. You need to hide this then hide that and
            before you know it your codebase is riddled with code you need to maintain or remove. This may not seem like
            the
            end of the world however, think of frogs in boiling water. Put the frog in normal water and slowly bring it
            up to boiling water, the frog hangs out till it dies. Using basic conditionals may seem ok when you drop one
            in, however, add more and more and get that water boiling, the story writes itself.
        </p>

        <p class="w-1/2 title text-2xl leading-relaxed">
            Miss Using Product Features
        </p>
        <p class="w-1/2 leading-relaxed py-10 text-gray-700">
            Roles and permissions exist in almost every product on the internet. Often times you will see these be used
            and abused to mimic what feature flags are meant for. Roles and permissions are generally designed to give
            different levels of users access to different functionality of a platform based on their business purpose.
            Creating special roles and permissions to manage feature rollout makes has the same effect as random
            conditionals
            adding unneeded over head to manage them. Misuse is abuse.
        </p>

        <h1 class="text-4xl">Feature Flags Done Right</h1>
        <p class="w-1/2 leading-relaxed py-10 text-gray-700">
            Feature Flags should be their own thing. Managed separately from your codebase and through their own interface.
            Variable Change gives you a platform to manage your feature flags outside of your platform and for different environments
            Using variable change will also allow you to keep your codebase cleaner, as well as turn features on and off without deployments.
        </p>
    </div>

{% endblock %}